html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    background-color: #000000;
}

.game-area {
    width: 94%;
    height: 510px;
    max-width: 500px;
    margin: 20px auto;
}

.game-container {
    background: #000000;
    margin: 20px 0 0px 0;
}

.grid {
    border-collapse: collapse;
}

.row {
}

.cell {
    height: 8px;
    width: 8px;
}

.dead {
    background-color: white;
}

.living {
    background-color: black ;
}

.game-buttons {
    width: 100%;
    margin-top: 20px;
}

